.nogap {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

#video:focus{
    outline: 0;
}

.background {
  background-color: #2c3e50;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.chat-color {
  color: white;
}

.username {
  font-weight: 600;
}

.message {
  margin-top: 10px;
}

#messages {
  height: 92%;
  padding-left: 10px;
  overflow-y: scroll;
}

.chat {
  background-color: #344659;
  padding-right: 0px;
}

.chatbox {
  padding-right: 10px;
  padding-top: 5px;
}

#chatbox-textarea {
  color: #504848;
  resize: none;
  width: 100%;
  border-radius: 5px;
}
