version: '3'

services:
  cozycast-worker:
    build: ../cozycast-worker
    image: cozycast-worker
    shm_size: 2g
    environment:
      COZYCAST_WORKER_KEY: $COZYCAST_WORKER_KEY
      COZYCAST_IP: $COZYCAST_IP
      HTTPS_DOMAIN: $HTTPS_DOMAIN
      LOCAL_WORKER: "false"
      COZYCAST_ROOM: $COZYCAST_ROOM
      FORCE_HTTPS: $FORCE_HTTPS
    volumes:
      - "../data/cozycast-worker/cozycast:/home/cozycast"
    restart: unless-stopped
