version: '3'

services:
    cozycast-server:
        ports:
        - "80:80"
        - "443:443"
        entrypoint:
        - /root/cozycast/cozycast-server/gradlew
        - -t
        - run
        environment:
            SOURCE_URL: $SOURCE_URL
            NODE_ENV: development
        volumes:
            - "../data/cozycast-server/avatar:/var/cozycast/avatar/"
            - "../cozycast-server:/root/cozycast/cozycast-server"
            - "../data/cozycast-server/cache/.gradle:/root/.gradle/repository"
            - "../data/cozycast-server/cache/build:/root/cozycast/cozycast-server/build"
    cozycast-worker:
        volumes:
            - "../cozycast-worker/worker.lua:/worker.lua"
            - "../cozycast-worker/entrypoint.sh:/entrypoint.sh"
            - "../cozycast-worker/capture.sh:/capture.sh"


# mkdir -p cache/avatar cache/.gradle cache/build
